* {
    font-family: monospace;
    font-size: large;
    margin: 0;
}
main {
    width: 100%;
    height: 90vh;
    min-height: 500px;
}

main h2 {
    margin: 2vw;
}

header {
    background-color: rgb(70, 151, 124);
    width: auto;
}

footer {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: #333;
    color: white;
    justify-content: center;
    align-items: center;
}

nav {
    height: 5vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 100%;
  }
  
nav ul li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
}

nav li a:hover {
    background-color: #111;
}

a {
    text-decoration: none;
}

.form {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 70vh;
}

.form__container {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
}

.form fieldset {
    height: 70vh;
    border-radius: 8px;
    line-height: 3.5vh;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

fieldset input {
    border-radius: 4px;
}

fieldset input[type=text], input[type=number], input[type=date], select {
    float: right;
    width: 70%;
    border: 2px solid #ccc;
}

fieldset input[type=checkbox] {
    margin-right: 4px;
    border: 2px solid #ccc;
}

fieldset input[type=checkbox]:hover {
    cursor: pointer;
}

fieldset button[type=submit] {
    background-color: #555555;
    color: white;
    font-size: larger;
    border-radius: 4px;
}

fieldset textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: black;
}

td {
    border-top: 1px solid #ddd;
}

th {
    background-color: antiquewhite;
}

.button {
    color: black;
    font-size: medium;
    border-radius: 4px;
    margin: 1px;
}

.button-submit:hover {
    cursor: pointer;
    background-color: cadetblue;
}

.button-submit {
    padding: 5px 16px;
}

.button-edit, .button-view, .button-delete {
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    background-color: unset;
    height: 20px;
    width: 16px;
}

.button-edit {
    background-image: url("../img/pencil.svg");
}

.button-view {
    background-image: url("../img/search.svg");
}

.button-delete {
    background-image: url("../img/trash.svg");
}

.row-item {
    padding: 5px 5px;
    width: 90%;
    display: flex;
}

.div-30 {
    width: 30%;
    max-width: 30%;
}

.div-70 {
    width: 70%;
    max-width: 70%;
}